appdirs==1.4.0
cffi==1.9.1
colander==1.3.2
colorama==0.3.7
configparser==3.5.0
cornice==2.4.0
cryptography==1.7.2
ecdsa==0.13
enum34==1.1.6
flake8==3.3.0
functools32==3.2.3.post2
future==0.16.0
futures==3.0.5
http-ece==0.7.0
idna==2.2
ipaddress==1.0.18
iso8601==0.1.11
jsonpatch==1.15
jsonpointer==1.10
jsonschema==2.6.0
kinto==5.4.0
mccabe==0.6.1
packaging==16.8
PasteDeploy==1.5.2
psycopg2==2.6.2
pyasn1==0.2.2
pycodestyle==2.3.1
pycparser==2.17
pycrypto==2.6.1
pyelliptic==1.5.7
pyflakes==1.5.0
pyparsing==2.1.10
pyramid==1.7.4
pyramid-multiauth==0.9.0
pyramid-tm==1.1.1
python-dateutil==2.6.0
python-jose==1.3.2
pywebpush==0.7.0
repoze.lru==0.6
requests==2.20.0
ruamel.ordereddict==0.4.9
ruamel.yaml==0.13.14
simplejson==3.10.0
six==1.10.0
SQLAlchemy==1.1.5
structlog==16.1.0
transaction==2.1.0
translationstring==1.3
typing==3.5.3.0
ujson==1.35
venusian==1.0
waitress==1.4.0
WebOb==1.7.1
zope.deprecation==4.2.0
zope.interface==4.3.3
zope.sqlalchemy==0.7.7
